.stn-bn-prefix{background-image:-webkit-linear-gradient(bottom,#920000,#d60000);
background-image: -moz-linear-gradient(bottom,#920000,#d60000);
background-image: -ms-linear-gradient(bottom,#920000,#d60000);
background-image: -o-linear-gradient(bottom,#920000,#d60000);color:#ffffff;}.stn-news-bar{background-image:-webkit-linear-gradient(bottom,#838383,#000000);
background-image: -moz-linear-gradient(bottom,#838383,#000000);
background-image: -ms-linear-gradient(bottom,#838383,#000000);
background-image: -o-linear-gradient(bottom,#838383,#000000);color:#ffffff;}.stn-news-bar{opacity: 0.8}